body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
    width: 100%;
    background-image: url('../img/patio.jpg');
}

.login {
    background-color: #ffc107;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login:hover {
    background-color: #e0a800;
    color: #fff;
}

.cadastro {
    background-color: rgba(46, 115, 200, 0.8);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    margin: 10px 0;
}

.cadastro:hover {
    background-color: rgba(46, 115, 180, 1);
}


h1 {
    margin-bottom: 20px;
    color: #f7f7f7;
}


form {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
}


input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


input[type="submit"], .ranking {
    background-color: #4ef557;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, .ranking:hover {
    background-color:#4ef557;;
}

.ranking {
    margin-left: 10px;
}

footer {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 9px;
}

footer p {
    margin: 5px 0;
}